/**************************
BOARDS
**************************/

#boards-wrapper {
  background-color: white;
  margin: 25px 0;
  padding: 10px 0;
}

.board-block {
  width: 10%;
  text-align: center;
  cursor: pointer;
}

.board-left {
  &:hover img {
    transform: rotate(9deg) scale(0.95);
    -webkit-transform: rotate(9deg) scale(0.95);
  }
}

.board-right {
  &:hover img {
    transform: rotate(-9deg) scale(0.95);
    -webkit-transform: rotate(-9deg) scale(0.95);
  }
}
