/**************************
GLOBAL
**************************/

body {
  background: linear-gradient(rgba(0,0,0,0.5),
              rgba(0,0,0,0.5)),
              url('../img/bg.jpg');
              background-size: cover;
  font-family: 'Open Sans', sans;
  padding-bottom: 100px;
}

#page-wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.gb {
  background-clip: padding-box;
  border-bottom: 5px solid $transparent2;
}

#site-logo {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  display: none;
}
