/**************************
SASS VARIABLES
**************************/

$transparent: rgba(255,255,255,0.3);
$transparent2: rgba(255,255,255,0.2);
$red1: #B4292E;
$red2: #B25B5D;
$maroon1: #3B3C37;
$gray1: #A1A1A1;
$facebook: #445897;
$rss: #CC8F32;
$twitter: #6A8DC7;
$youtube: #B2382D;

$sliderHeight: 300px;
$triangleSize: 28.7px;
$triangleRight: -($triangleSize - 0.5px);
