/**************************
SASS VARIABLES
**************************/
/**************************
SETUP
**************************/
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  max-height: 100%; }

/**************************
GLOBAL
**************************/
body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg.jpg");
  background-size: cover;
  font-family: 'Open Sans', sans;
  padding-bottom: 100px; }

#page-wrapper {
  max-width: 960px;
  margin: 0 auto; }

.gb {
  background-clip: padding-box;
  border-bottom: 5px solid rgba(255, 255, 255, 0.2); }

#site-logo {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  display: none; }

/**************************
FLEXBOX
**************************/
header, #header-subsocial, #header-nav, .header-nav-block, #subscribe-block, #social-block, #header-subsocial-block,
#subscribe-block, #social-block, #fa-circle-block, #slider-grid, #slider-controls, #news-wrapper, .news-block, #articles3, .article,
#articles-wrapper, #articles1, #boards-wrapper, #footer-wrapper, #footer-info-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

header, .news-block, #articles1, #footer-form-block {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.header-nav-block {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

#header-nav, #news-wrapper {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

#header-subsocial {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

#header-subsocial-block {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

#subscribe-block, .article, #slider-controls {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

#social-block,
#slider-grid {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

#articles3 {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: space-around;
  -webkit-align-items: space-around;
  -ms-flex-align: space-around;
  align-items: space-around; }

#articles1 > div {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

/**************************
HEADER
**************************/
header {
  color: white;
  padding-top: 5px; }

#header-subsocial-block {
  width: 50%; }

#subscribe-block {
  width: 40%; }

#social-block {
  width: 60%; }

/**************************
HEADER - SOCIAL
**************************/
#social-block > div {
  margin-right: 5%; }
#social-block > div:last-child {
  margin-right: 0; }

.social1 {
  position: relative;
  font-size: 2em;
  padding: 10px 0;
  width: 20%;
  display: inline-block;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  transition: all .25s ease;
  cursor: pointer; }
  .social1:hover {
    color: white; }

.fa-ellipsis-v {
  font-size: 1.5em; }

.fa-circle {
  font-size: 6px; }

#fa-circle-block {
  margin-left: 10px; }

.social1-facebook {
  background-color: #445897; }

.social1-rss {
  background-color: #CC8F32; }

.social1-twitter {
  background-color: #6A8DC7; }

.social1-youtube {
  background-color: #B2382D; }

/**************************
HEADER - NAV
**************************/
#header-nav {
  margin-top: 10px; }

.header-nav-block {
  width: 24%;
  background-color: #B4292E;
  padding: 10px 5px;
  -webkit-transition: all .25s ease;
  cursor: pointer; }
  .header-nav-block:hover {
    background-color: #B25B5D; }
  .header-nav-block:hover .dash {
    -webkit-transform: rotate(90deg) translateY(-5px) translateX(5px); }

.dash {
  position: relative;
  bottom: 5px;
  font-size: 3em;
  line-height: 0;
  -webkit-transition: all .25s ease; }

/**************************
SLIDER
**************************/
#slider-wrapper {
  padding-top: 15px; }

#slider-image-block {
  padding: 10px;
  background-color: white; }

#slider-image {
  height: 300px;
  background: url("../img/top-image.png");
  background-size: 120%;
  background-position: 20% 20%;
  position: relative;
  z-index: 1; }

#slider-grid {
  height: 300px;
  width: 100%;
  display: block;
  position: relative; }
  #slider-grid:after {
    content: "";
    background: url("../img/grid.png");
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }

#slider-logo {
  opacity: 1;
  z-index: 2;
  height: 237px;
  width: 410px;
  background: url("../img/peralta-logo.png");
  margin-left: 2.5%; }

#slider-controls-block {
  padding: 15px 0; }

.slider-button {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  color: white;
  position: relative; }

.slider2 {
  margin: 0 10px; }

.selected {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 10px;
  width: 10px;
  background-color: #B4292E;
  border-radius: 50%; }

#middle {
  margin: 0 8px; }

/**************************
NEWS
**************************/
.news-block {
  width: 32.5%;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../img/white-wall.png");
  padding: 25px;
  background-clip: padding-box; }
  .news-block > div {
    width: 100%; }

.news-block-title {
  font-weight: 300;
  color: #3B3C37; }

.news-block-date {
  margin: 10px 0;
  font-size: 0.85em;
  color: #A1A1A1; }

.news-block-content {
  color: #3B3C37;
  font-size: 0.85em;
  margin-bottom: 10px; }

.news-block-more {
  text-align: center;
  color: #B4292E; }

.readmore {
  transition: all .25s ease;
  cursor: pointer; }
  .readmore:hover {
    margin: 0 5%; }

/**************************
ARTICLES
**************************/
#articles-wrapper {
  margin-top: 50px;
  position: relative; }

.article > div {
  text-align: center;
  color: white; }
.article > div > h2 {
  font-size: 3em;
  font-family: 'Oswald', sans-serif;
  line-height: 1.1em; }

/**************************
ARTICLES - ARTICLES3
**************************/
#articles3 {
  width: 66.25%;
  margin-right: 1.25%; }
  #articles3 > div {
    width: 49%;
    height: 225px;
    padding: 5px;
    background-color: white; }
  #articles3 > div:first-child {
    margin-right: 2%;
    margin-bottom: 5px; }
  #articles3 > div:nth-child(2) {
    margin-bottom: 5px; }
  #articles3 > div:last-child {
    width: 100%; }
  #articles3 > div > div {
    height: 100%; }

#article1 {
  background-image: url("../img/sk8er-4.png");
  background-position: 85% 30%;
  position: relative; }

#article2 {
  background-image: url("../img/sk8er-3.png"); }

#article3 {
  background-image: url("../img/sk8er-1.png");
  background-position: 20% 60%; }

/**************************
ARTICLES - ARTICLES1
**************************/
#articles1 {
  width: 32.5%; }

#articles1 > div {
  height: 100%;
  padding: 5px;
  background-color: white;
  position: relative; }

#article4 {
  background-image: url("../img/sk8er-2.png");
  background-position: 80% 50%;
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px; }

/**************************
ARTICLES - ARROWS
**************************/
#side-arrow {
  position: absolute;
  top: 20%;
  right: 104%;
  padding: 15px;
  background-color: #B4292E;
  font-size: 1.25em;
  color: white;
  font-weight: lighter; }

#side-arrow-point {
  margin: auto;
  position: absolute;
  width: 0;
  height: 0;
  top: 0px;
  bottom: 0;
  /* 28.7px */
  right: -28.2px;
  border-top: 28.7px solid transparent;
  border-bottom: 28.7px solid transparent;
  border-left: 28.7px solid #B4292E; }
  #side-arrow-point:after {
    content: "";
    margin: auto;
    position: absolute;
    width: 0;
    height: 0;
    top: 10px;
    bottom: 0;
    right: 0;
    /* 28.7px */
    border-top: 28.7px solid transparent;
    border-bottom: 28.7px solid transparent;
    border-left: 28.7px solid rgba(255, 255, 255, 0.3);
    z-index: -1; }

#down-arrow {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #B4292E;
  font-size: 2em;
  color: white;
  padding: 30px 0;
  position: relative;
  font-weight: lighter;
  display: none; }

#down-arrow-point {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  right: 0;
  bottom: -40px;
  margin: 0 auto;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-top: 40px solid #B4292E; }

#down-arrow-border {
  position: absolute;
  width: 0;
  height: 0;
  left: -80px;
  right: 0;
  bottom: -5px;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-top: 40px solid rgba(255, 255, 255, 0.3);
  z-index: -2; }

/**************************
BOARDS
**************************/
#boards-wrapper {
  background-color: white;
  margin: 25px 0;
  padding: 10px 0; }

.board-block {
  width: 10%;
  text-align: center;
  cursor: pointer; }

.board-left:hover img {
  transform: rotate(9deg) scale(0.95);
  -webkit-transform: rotate(9deg) scale(0.95); }

.board-right:hover img {
  transform: rotate(-9deg) scale(0.95);
  -webkit-transform: rotate(-9deg) scale(0.95); }

/**************************
FOOTER
**************************/
footer {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../img/white-wall.png");
  padding: 30px; }

#footer-left,
#footer-right {
  width: 50%; }

/**************************
FOOTER - INFO/SOCIAL
**************************/
#footer-info-block {
  color: #3B3C37; }

#footer-info-title h3 {
  font-size: 1.5em;
  font-weight: 400; }

#footer-info-content {
  margin: 10px 0 20px;
  line-height: 1.5em; }

.social2 {
  padding: 5px 10px;
  color: rgba(255, 255, 255, 0.3);
  margin-right: 5px;
  cursor: pointer;
  transition: all .25s ease; }
  .social2:hover {
    color: white; }
  .social2:last-child {
    margin-right: 0; }

.social2-facebook {
  background-color: #4F4F4F; }
  .social2-facebook:hover {
    background-color: #445897; }

.social2-rss {
  background-color: #AFAFAF; }
  .social2-rss:hover {
    background-color: #CC8F32; }

.social2-twitter {
  background-color: #7B7B7B; }
  .social2-twitter:hover {
    background-color: #6A8DC7; }

.social2-youtube {
  background-color: #757575; }
  .social2-youtube:hover {
    background-color: #B2382D; }

/**************************
FOOTER - FORM
**************************/
form {
  clear: both; }
  form > * {
    display: block;
    width: 95%;
    margin: 0 auto;
    padding: 10px; }

input, textarea {
  outline-color: #B4292E;
  border-top: 4px solid #ACACAC;
  border-left: 4px solid #ACACAC;
  border-right: 1px solid #ACACAC;
  border-bottom: 1px solid #ACACAC; }

input[type=email] {
  margin: 10px auto; }

textarea {
  resize: none;
  height: 120px;
  margin-bottom: 10px; }

button[type=submit] {
  width: 50%;
  margin-right: 2.5%;
  background-color: #B4292E;
  color: white;
  border: 0;
  transition: all .25s ease; }
  button[type=submit]:hover {
    background-color: #B25B5D; }

/**************************
QUERIES
**************************/
@media screen and (max-width: 1410px) {
  #side-arrow {
    display: none; }

  #down-arrow {
    display: block; }

  #news-wrapper {
    margin-bottom: 25px; } }
@media screen and (max-width: 959px) {
  #page-wrapper {
    max-width: 700px; }

  #site-logo {
    display: block; }

  #header-subsocial {
    justify-content: center;
    -webkit-justify-content: center; }

  #social-block {
    display: none; }

  #header-nav {
    flex-wrap: wrap;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: space-between; }

  .header-nav-block {
    width: 48%; }
    .header-nav-block:first-child, .header-nav-block:nth-child(2) {
      margin-bottom: 10px; }

  #slider-logo {
    display: none; }

  #articles-wrapper {
    flex-direction: column;
    -webkit-flex-direction: column;
    width: 100%;
    margin: 50px auto; }

  #articles3 {
    width: 100%;
    margin-right: 0;
    order: 2;
    -webkit-order: 2; }

  #articles1 {
    order: 1;
    -webkit-order: 1;
    width: 100%;
    margin-bottom: 5px; }

  #articles1 > div {
    height: 225px; }

  #boards-wrapper {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; }

  .board-block {
    width: 20%; } }
@media screen and (max-width: 699px) {
  #page-wrapper {
    max-width: 100%;
    width: 95%; }

  .news-block {
    width: 48%; }
    .news-block:last-child {
      display: none; }

  .board-left:hover img,
  .board-right:hover img {
    transform: scale(0.95);
    -webkit-transform: scale(0.95); }

  #footer-wrapper {
    flex-direction: column;
    -webkit-flex-direction: column; }

  #footer-left,
  #footer-right {
    width: 100%; }

  #footer-info-block {
    text-align: center;
    display: flex;
    flex-direction: column;
    -webkit-display: flex;
    -webkit-flex-direction: column; }

  #footer-info-title {
    order: 2;
    -webkit-order: 2;
    margin: 15px 0; }

  #footer-info-content {
    display: none; }

  #footer-info-social {
    justify-content: space-around;
    order: 1;
    -webkit-justify-content: space-around;
    -webkit-order: 1;
    width: 50%;
    margin: 0 auto; }

  .social2 {
    margin: 0; }

  form > * {
    width: 100%; }

  button[type=submit] {
    margin: 0 auto; } }
@media screen and (max-width: 499px) {
  body {
    padding-bottom: 0; }

  #page-wrapper {
    width: 98%; }

  .header-nav-block {
    width: 100%;
    margin-bottom: 10px; }

  #header-subsocial-block {
    width: 100%; }

  #fa-circle-block {
    display: none; }

  #slider-image-block {
    padding: 2.5px; }

  #slider-image {
    height: auto;
    background-size: cover;
    background-position: 50% 50%; }

  #slider-controls {
    width: 100%; }

  #slider-controls input:after {
    display: none; }

  #news-wrapper {
    flex-direction: column;
    -flex-direction: column; }

  .news-block {
    width: 100%; }
    .news-block:first-child {
      margin-bottom: 10px; }

  #down-arrow {
    width: 100%; }

  #boards-wrapper {
    justify-content: center;
    -webkit-justify-content: center; }

  .board-block {
    width: 25%; }
    .board-block:last-child, .board-block:nth-child(9) {
      display: none; }

  .article {
    background-size: cover; }
    .article > div {
      font-size: 0.5em;
      padding: 0 5px; }

  #article1 {
    background-position: 100% 30%; }

  #article2 {
    background-position: 30% 60%; }

  #footer-info-social {
    width: 75%; } }
@media screen and (max-width: 319px) {
  #page-wrapper {
    width: 100%; }

  #boards-wrapper {
    width: 95%;
    margin-left: auto;
    margin-right: auto; }

  .board-block {
    width: 33%; }
    .board-block:last-child, .board-block:nth-child(8), .board-block:nth-child(7) {
      display: none; }

  #footer-info-social {
    width: 100%; } }

/*# sourceMappingURL=styles.css.map */
